
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Inter', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    
  }

  

  .nav-bar{
    
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    width: 100%
  }

  .shopify-icon{
    width: 83.721px;
    height: 24px; 
    flex-shrink: 0;
    
  }

  .shopify-icon-mobile{
    display: none;
  }

  .search-bar{
    display: flex;
    width: 480px;
    height: 32px;
    padding: 8px;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--stroke-s-200, #616161);
    background: #303030;
  }

  .search-bar:hover{
    border: 1px solid var(--stroke-s-100, #E1E1E1);
  }

  .search-bar:active, .search-bar:focus-within{
    border: 2px solid #FFF;
  }



  .search-icon{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  .search-field{
    background-color: transparent;
    border: none;
    height: 32px;
    width: 100%;
    outline: none;
    color: #B5B5B5;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.2px;
  }

  .search-field::placeholder{
    color: #B5B5B5
  }



  .navigation-bar-right{
    display: flex;
    align-items: center;
    gap: 8px;
    
  }


  .notification-bell-button{
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 8px;
    background: var(--grey-grey-200, #303030);
    cursor: pointer;
    transition: all 100ms ease-in;
  }

  .notification-bell-button:hover{
    background: #616161;
  }

  .notification-bell-button:active{
    background: #656266;
  }

  .notification-bell-button:focus{
    background: #656266;
    outline: 2px solid #005BD3;
    outline-offset: 1px;  
  }

  .notification-bell-icon{
    width: 20px;
    height: 20px;
      
  }

  .store-profile{
    display: flex;
    padding: 2px 2px 2px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #303030;
    height: 32px;
    cursor: pointer;
    border: none;
  }

  .store-profile:hover{
    background: #616161;
  }

  .store-profile:active{
    background: #656266;
  }

  .store-profile:focus{
    
    outline: 2px solid #005BD3;
    outline-offset: 1px;  
  }

  .store-name{
    color: var(--font-light, #E3E3E3);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
  }
  

  .store-image-placeholder{
    border: none;
    outline: none;
    display: flex;
    height: 28px;
    padding: 9px 5px 10px 5px;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.40);
    text-align: center; 
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
    border-radius: 6px;
    background: #36FBA1;
    cursor: pointer; 
  }

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.trial-callout-bar{
  display: flex;
  width: 800px;
  padding: 12px 8px 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #1A1A1A;
  
}

.trial-callout{
  color: var(--font-light, #E3E3E3);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
}

.select-plan-frame{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.select-plan-button{
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
}

.select-plan-button:hover{
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #F7F7F7;
  box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
}

.select-plan-button:active{
  border-radius: 6px;
  background: #F7F7F7;
  box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset;  
}

.select-plan-button:focus{
  background: var(--White, #FFF);
  outline: 2px solid #005BD3;
  outline-offset: 1px;  
}

.select-plan-button a{
color: #323232;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 15.6px */
text-decoration: none;
}


.dismiss-icon-frame{
    display: flex;
    padding: 6px;
    align-items: flex-start;
    gap: 8px;
    
}

.dismiss-icon{
    cursor: pointer
}
.notification-dropdown{
    display: inline-flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);

    /* Drop Shadow */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    animation-name: zoom-in-spin;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
}


.dropdown-menu{
    position: absolute;
    top: 64px;
    right: 16px;
    display: none;
    width: 320px;
    padding: 6px 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background:  #FFF;

    /* Drop Shadow */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    animation-name: zoom-in-spin;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
}

.dropdown-menu-display{
    display: flex;
    
}

.dropdown-menu-header{
    display: flex;
    padding: 4px 12px 4px 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #F1F1F1;
}

.dropdown-menu-header-right{
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown-menu-header-store-image-placeholder{
    display: flex;
    height: 28px;
    padding: 9.625px 5.875px 10.375px 6.125px;
    justify-content: center;
    align-items: center;
    border-radius: 5.25px;
    background: #36FBA1;
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Inter;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 14.7px */
}

.dropdown-menu-header-store-name{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--font-dark, #303030);
    /* Text-13/semi bold */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 18.2px */
}

.dropdown-menu-item{
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    width: 304px;
}

.dropdown-menu-item:hover{
    border-radius: 8px;
    background: #F1F1F1;
}

.dropdown-menu-item:active{
    border-radius: 8px;
    background: #F0F0F0;
}

.dropdown-menu-item:focus-within{
    border-radius: 8px;
    border: 2px solid #005BD3;
}


.dropdown-menu-item .label{
    text-decoration: none;
    color: var(--font-dark, #303030);
    /* Text-13/regular */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 18.2px */
}


.profile-name-in-dropdown-menu{
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.profile-name-in-dropdown-menu .name{
    color: var(--font-dark, #303030);
    /* Text-13/medium */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
    
}

.profile-name-in-dropdown-menu .email{
    color: var(--grey-grey-100, var(--font-mid-2, #616161));
    /* Text-12/regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
}

.dropdown-menu .line{
    width: 320px;
    height: 0.75px;
    background: #E1E1E1;
}

.setup-guide-card{
    display: flex;
    width: 800px;
    margin-top: 16px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    border-radius: 18px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.setup-guide{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.setup-guide-heading{
    color: var(--font-dark, #303030);
    /* Text-14/semi bold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
}

.setup-guide-instruction{
    color: var(--font-dark, #303030);
    /* Text-13/regular */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 18.2px */
}



.progress-bar-label{
    color: var(--font-dark, #303030);
    /* Text-12/regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */
}

.setup-guide-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.setup-guide-left .column-layout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.progress-bar-section{
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow-icon-frame{
    display: flex;
    padding: 4px;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
}

.arrow-down{
    display: none;
}

.arrow-up-icon-frame:hover{
    border-radius: 6px;
    background: var(--states-hover, #F1F1F1);
}

.arrow-up-icon-frame:active{
    border-radius: 6px;
    background: var(--states-pressed, #F0F0F0);
}

.arrow-icon-frame:focus-within{
    border-radius: 6px;
    border: 2px solid var(--states-focused, #005BD3);
    
}

.checkbox-container{
    display: flex;
    padding: 8px 8px 12px 8px;
    align-items: center;
    gap: 9px;
    align-self: stretch;
    border-radius: 10px;
    background: #F3F3F3;
    margin-block: -8px;
}
.checkbox-container.one{
    margin-top: unset;  
}

.checkbox-container:not(.checkbox-container.one){
    background: none;
    cursor: pointer;
}

.checkbox-image-container:not(.checkbox-image-container.one){
    display: none;
    
}

.checkbox-title-description:not(.checkbox-title-description.one){
    display: none;
}

.onboarding-button:not(.onboarding-button.one){
    display: none;
}

.onboarding-button{
    cursor: pointer;
}


.checkbox{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.checkbox .icon-dash, .checkbox .icon-incomplete, .checkbox .icon-complete{
    cursor: pointer;
}


.hidden{
    display: none;
}

.checkbox .icon-dash:hover circle{
    stroke-dasharray: 0 0;
}

@keyframes spin {
    from {
        transform: rotate (0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

.checkbox .icon-incomplete{
    animation-duration: 1000ms;
    animation-name: spin;
    animation-iteration-count: infinite;
    
}


@keyframes zoom-in-spin{
    from {
        transform: scale(0) rotate(270);
        opacity: 0;
    }

    to {
        transform: scale(1) rotate(360);
        opacity: 1;
    }
}

.checkbox .icon-complete{
    animation-name: zoom-in-spin;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

.checkbox-content{
    display: flex;
    padding: 2px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    /* cursor: pointer; */
}



.checkbox-title{
    color: var(--font-dark, #303030);
    /* Text-13/semi bold */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
    
    width: 100%;
}

.checkbox1-title{
    font-weight: 600;
}


.checkbox-title-description{
    align-self: stretch;
    color: var(--font-mid-2, #616161);
    /* Text-13/medium */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
}

.checkbox-title-description .link{
    color: var(--states-focused, #005BD3);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.checkbox-content button{
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    background: #404040;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
    color: var(--font-light, #F6F3F6);
    /* Text-12/Semi bold */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    cursor: pointer;
    }

.checkbox2-container .bottom-line{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    
} 




.import-product{
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    color: var(--font-dark, #323232);
    /* Text-12/Semi bold */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
}





.notification-dropdown{
    width: 383px;
    height: 118px;
    position: absolute;
    top: 64px;
    right: 16px;
    display: none;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    /* Drop Shadow */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

    
}

.display-notification-dropdown{
    display: inline-flex;
}

.notification-dropdown .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.notification-dropdown .heading{
    color: var(--font-dark, #303030);
    /* Text-14/semi bold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
}

.notification-dropdown .message-frame{
    width: 351px;
    height: 50px;
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    background: var(--states-hover, #F1F1F1);
}

.notification-dropdown .message{
    color: var(--font-mid-2, #616161);
    /* Text-13/semi bold */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 18.2px */
}

@media (max-width: 500px){
    nav{
        display: flex;
        padding: 12px 16px;
        align-items: flex-end;
        gap: 8px;
        flex: 1 0 0;
        width: 100%;  
        
    }

    .shopify-icon{
        display: none;
    }

    .shopify-icon-mobile{
        display: flex;
        margin-right: 8px;
    }

    .search-bar{
        width: 238px;
        display: flex;
        height: 32px;
        padding: 8px;
        align-items: center;
        gap: 6px;
        flex: 1 0 0;
    }

    .notification-bell-button{
        display: flex;
        padding: 6px;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        background: none;
    }
    
    .notification-dropdown{
        display: none;
        width: 358px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .display-notification-dropdown{
        display: inline-flex;
    }
    

    .notification-dropdown .message-frame{
        width: 294px;    
        display: flex;
        padding: 16px;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }
    
    .notification-dropdown .message{
        flex: 1 0 0;
        color: var(--font-dark, #303030);
        text-align: center;

        /* Text-13/semi bold */
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 18.2px */
    }

    .store-name{
        display: none;
    }

    .store-profile{
        display: flex;
        padding: 2px;
        align-items: center;
        gap: 8px;
    }
    
    .trial-callout-bar{
        display: flex;
        padding: 12px 8px 12px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        width: 390px;
        position: relative;
    }

    .dismiss-icon-frame{
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 8px;
        gap: 8px;
    }

    

    .setup-guide-card{
        width: 390px;
    }

    .checkbox-image-container{
        display: none;
    }

}   